@import url(/fonts/Gilroy/stylesheet.css);
@import url(/fonts/IgraSans/stylesheet.css);

$main-blue: #369FFF;
$light-blue-bcg: #F5FAFF;
$light-blue: #CBE6FF;
$dark-blue: #0D73D1;
$main-black: #262626;
$white: #FFF;
$light-orange: #F9DA6C;
$grey: #5B5B5B;

$main-font: "Gilroy", sans-serif;
$second-font: "Igra Sans", sans-serif;
$main-font-size: 18px;