@import url(/fonts/Gilroy/stylesheet.css);
@import url(/fonts/IgraSans/stylesheet.css);

$main-blue: #369FFF;
$light-blue-bcg: #F5FAFF;
$light-blue: #CBE6FF;
$main-black: #262626;
$white: #FFF;
$light-orange: #F9DA6C;

$main-font: "Gilroy", sans-serif;
$second-font: "IgraSans", sans-serif;
$main-font-size: 18px;