@import '_variables';
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: $main-font;
    font-size: $main-font-size;
    color: $main-black;
    width: 100%;
    background-color: $white;
}
.igra-sans-font{
    font-family: $second-font;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.button-style{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-weight: 500;
    line-height: 21px;
    text-decoration: none;
    vertical-align: middle;
}
.blue-button{
    background-color: $main-blue;
    border: 1px solid $main-blue;
    color: $white;
}
.transparent-button{
    background-color: $white;
    border: 1px solid $main-blue;
    color: $main-black;
}
.yellow-button{
    background-color: $light-orange;
    border: 1px solid $light-orange;
    color: $main-black;
    &:hover{
        cursor: pointer;
    }
}
.show-more-btn{
    background-color: $light-blue-bcg;
    color: $main-blue;
    margin-top: 40px;
    &:hover{
        cursor: pointer;
    }
}
/*----------------------------------------------------------------navigation----*/
nav{
    position: fixed;
    height: 100px;
    top:0;
    left: 0;
    padding-top: 20px;
    width: 100%;
    background-color: $white;
    z-index: 1000;
    .container{
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            align-items: center;
            a{
                display: block;
                text-decoration: none;
                display: flex;
                align-items: center;
            }
        }
        .logo-container{
            a{
                svg{
                    &:last-child{
                        margin-left: 10px;
                    }
                }
            }
        }
        .navigation-container{
            ul{
                list-style: none;
                padding: 0;
                display: flex;
                li{
                    display: block;
                    margin-right: 20px;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        text-decoration: none;
                        color: $main-black;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
/*------header--------------------------------*/
header{
    padding-top: 100px;
    background-image: url(../img/header-bcg.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    .container{
        text-align: center;
        h1{
            margin-top: 80px;
            margin-bottom: 20px;
            font-size: 55px;
            font-family: $second-font;
            font-weight: 400;
        }
        p{
            font-weight: 500;
        }
        .header-btn-container{
            display: flex;
            justify-content: center;
            margin-top: 40px;
            a{
                 &:first-child{
                    margin-right: 20px;
                 }
                 svg{
                    margin-right: 10px;
                 }           
            }
        }
        .header-image-container{
            padding-top: 50px;
            img{
                width: 890px;
                height: auto;
            }
        }
        .header-image-container{
            padding: 70px 135px 0;
            display: flex;
            position: relative;
            img{
                width: 100%;
                z-index: 10;
                
            }
            .sell-reit-img{
                position: absolute;
                top: -20px;
                left: 40px;
                z-index: 9;
            }
            span{
                position: absolute;
                display: block;
                a{
                    display: block;
                }
            }
            .ai-box{
                top: 40%;
                left: -5%;
            }
            .xd-box{
                top: 70%;
                left: -12%;
            }
            .ps-box{
                top: 85%;
                left: -20%;
            }
            .ae-box{
                top: 7%;
                right: 8%;
                z-index: 11;
            }
            .be-box{
                top: 75%;
                right: 0;
            }
            .figma-box{
                top: 65%;
                right: -20%;
            }
            .ld-box{
                right: -15%;
                bottom: -5%;
                z-index: 0;
            }
            .play-icon-box{
                top: calc(50% - 229px/2);
                left: calc(50% - 229px/2);
                z-index: 100;
                .play-icon-mobile{
                    display: none;
                }
            }
        }
    }
}
/*----------------------------------------about-us-section--------------------------------*/
.about-us{
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: $main-blue;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
    color: $white;
    padding: 100px 0;
    .container{
        .about-us-flex-container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 52px;
            .flex-item{
                border-radius: 44px;
                -webkit-border-radius: 44px;
                -moz-border-radius: 44px;
                -ms-border-radius: 44px;
                -o-border-radius: 44px;
                overflow: hidden;
                margin-right: 30px;
                &:last-child{
                    margin-right: 0;
                }
                img{
                    width: 100%;
                }
            }
        }
        .about-us-grid-container{
            width: 100%;
            display: grid;
            grid: 1fr/repeat(3, 1fr);
            grid-column-gap: 30px;
            .grid-item{
                img{
                    width: 100%;
                }
                h2{
                    font-size: 40px;
                    font-weight: 400;
                    margin: 0 0 22px;
                }
                .about-us-author{
                    display: flex;
                    div{
                        &:last-child{
                            margin-left: 40px;
                        }
                        margin-top: 37px;
                    }
                    h2{
                        font-size: $main-font-size + 2px;
                        margin: 0;
                    }
                    span{
                        color: $light-orange;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                .second-column-text-margin{
                    margin-top: 65px;
                }
                .about-us-grid-item-container{
                    background-color: rgba(13, 115, 209, 0.5);
                    border-radius: 24px;
                    -webkit-border-radius: 24px;
                    -moz-border-radius: 24px;
                    -ms-border-radius: 24px;
                    -o-border-radius: 24px;
                    width: 95%;
                    transform: rotate(2.5deg);
                    -webkit-transform: rotate(2.5deg);
                    -moz-transform: rotate(2.5deg);
                    -ms-transform: rotate(2.5deg);
                    -o-transform: rotate(2.5deg);
                    padding: 40px;
                    .logo-container{
                        margin-bottom: 35px;
                    }
                    span{
                        color: $light-orange;
                        font-size: 100px;
                    }
                    P{
                        margin: 0;
                    }
                    .rate-container{
                        svg{
                            margin-left: 17px;
                        }
                    }
                }
            }
            
        }
    }
}
/*----------------------------------------------------------------our-programs-section----*/
.our-programs-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $light-blue-bcg;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    user-select: none;
    .container{
        .our-programs-header{
            display: flex;
            vertical-align: middle;
            justify-content: space-between;
            .our-programs-title{
                h1{
                    margin: 0;
                    font-weight: 400;
                    font-size: 40px;
                }
            }
            .our-programs-filter-group{
                display: flex;
                .filter-group-btn{
                    display: flex;
                    padding: 10px 30px;
                    border: 1px solid $light-blue;
                    background-color: $light-blue;
                    border-radius: 60px;
                    -webkit-border-radius: 60px;
                    -moz-border-radius: 60px;
                    -ms-border-radius: 60px;
                    -o-border-radius: 60px;
                    font-weight: 500;
                    margin-left: 20px;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        background-color: $white;
                        cursor: pointer;
                    }
                }
            }
        }
        .our-programs-content{
            h3{
                font-size: 30px;
                font-weight: 400;
                margin-top: 40px;
            }
            .our-programs-cards-container{
                display: flex;
                justify-content: space-between;
                .our-programs-card-item{
                    max-width: 370px;
                    border: 1px solid $light-blue;
                    border-radius: 23px;
                    -webkit-border-radius: 23px;
                    -moz-border-radius: 23px;
                    -ms-border-radius: 23px;
                    -o-border-radius: 23px;
                    overflow: hidden;
                    .card-img{
                        img{
                            width: 100%;
                            
                        }
                    }
                    .card-content{
                        padding: 20px;
                        span{
                            font-size: 16px;
                            color: $grey;
                        }
                        h3{
                            font-size: 22px;
                            font-weight: 400;
                        }
                        p{
                            font-size: 16px;
                            color: $grey;
                        }
                        .card-filter-items-box{
                            display: flex;
                            margin-top: 16px;
                            margin-bottom: 46px;
                            .card-filter-item{
                                display: flex;
                                padding: 8px 12px;
                                background-color: $light-blue;
                                border-radius: 23px;
                                -webkit-border-radius: 23px;
                                -moz-border-radius: 23px;
                                -ms-border-radius: 23px;
                                -o-border-radius: 23px;
                                justify-content: center;
                                align-items: center;
                                margin-right: 10px;
                                font-size: 14px;
                                font-weight: 500;
                                color: #000;
                            }
                        }
                        .card-btn{
                            border-radius: 24px;
                            -webkit-border-radius: 24px;
                            -moz-border-radius: 24px;
                            -ms-border-radius: 24px;
                            -o-border-radius: 24px;
                        }
                    }
                }
            }
        }
    }
}
/*----------------------------------------methodology-section--------------*/
.methodology-section{
    padding: 80px 0 100px;
    .container{
        .methodology-header{
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            h2{
                margin: 0 0 10px;
                font-size: 40px;
                font-weight: 400;
            }
            p{
                margin: 0;
                font-size: 20px;
                color: $grey;
                font-weight: 500;
            }
        }
        .methodology-content-grid-box{
            padding-top: 32px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, auto);
            grid-gap: 30px;

            .grid-item-style{
                border: 1px solid $light-blue;
                background-color: $light-blue-bcg;
                border-radius: 23px;
                -webkit-border-radius: 23px;
                -moz-border-radius: 23px;
                -ms-border-radius: 23px;
                -o-border-radius: 23px;
                display: flex;
                position: relative;
                .grid-item-content{
                    padding: 30px 30px 0;
                    h3{
                        font-size: 22px;
                        margin: 0 0 7px;
                    }
                    p{
                        color: $grey;
                        font-weight: 500;
                    }
                }
                .grid-item-img{
                    width: 100%;
                    position: relative;
                    min-height: 227px;
                    height: 100%;
                    img{
                        position: absolute;
                        width: 24em;
                        max-width: 100%;
                    }
                }
            }
            .horizontal-item{
                flex-direction: row;
                .grid-item-img{
                    width: 40%;
                    img{
                        max-width: 14em;
                        width: 100%;
                    }
                }
            }
            .vertical-item{
                flex-direction: column;
                min-height: 471px;
            }
            .grid-item-1{
                grid-column-start: span 1;
                grid-column-end: span 1;
                grid-row-start: span 2;
                grid-row-end: span 2;
            }
            .grid-item-2{
                grid-column-start: span 2;
                grid-column-end: span 2;
                grid-row-start: span 1;
                grid-row-end: span 1;
                .grid-item-content{
                    max-width: 55%;
                }
                .grid-item-img{
                    img{
                        max-width: 16.5em;
                    }
                }
            }
            .grid-item-3{
                grid-column-start: span 2;
                grid-column-end: span 2;
                grid-row-start: span 1;
                grid-row-end: span 1;
                .grid-item-content{
                    max-width: 65%;
                }
                .grid-item-img{
                    img{
                        max-width: 9.5em;
                        bottom: 0;
                    }
                }
            }
            .grid-item-4{
                grid-column-start: span 1;
                grid-column-end: span 1;
                grid-row-start: span 2;
                grid-row-end: span 2;
                .grid-item-img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: 90%;
                        bottom: 20px;
                    }
                }
            }
            .grid-item-5{
                grid-column-start: span 1;
                grid-column-end: span 1;
                grid-row-start: span 2;
                grid-row-end: span 2;
                .grid-item-img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: 110%;
                        bottom: 10px;
                    }
                }
            }
            .grid-item-6{
                grid-column-start: span 1;
                grid-column-end: span 1;
                grid-row-start: span 2;
                grid-row-end: span 2;
                .grid-item-img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: 100%;
                        width: auto;
                        bottom: 0;
                    }
                }
            }
            .grid-item-7{
                grid-column-start: span 1;
                grid-column-end: span 1;
                grid-row-start: span 1;
                grid-row-end: span 1;
            }
            .grid-item-8{
                grid-column-start: span 2;
                grid-column-end: span 2;
                grid-row-start: span 1;
                grid-row-end: span 1;
                padding: 13px 38px;
                font-size: 16px;
                color: $main-black;
                font-weight: 500;
            }
        }
    }
}
/*----------------------------------------our-students-about-us-section----------------*/
.our-students-about-us-video-section{
    background-color: $light-orange;
    padding: 80px 0 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    h2{
        font-size: 40px;
        font-weight: 400;
    }
    .flex-row{
        display: flex;
        grid-gap: 30px;
        margin-top: 30px;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-scrollbar-style: none;
        &::-webkit-scrollbar{
            display: none;
        }
        .our-students-about-us-feedback-container{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 23px;
            -webkit-border-radius: 23px;
            -moz-border-radius: 23px;
            -ms-border-radius: 23px;
            -o-border-radius: 23px;
            overflow: hidden;
        }
    }
    .flex-first-row{
        .our-students-about-us-feedback-container{
            &:nth-child(odd){
                width: 260px;
                height: 260px;
                min-width: 260px;
                min-height: 260px;
            }
            &:nth-child(even){
                width: 500px;
                height: 260px;
                min-width: 500px;
                min-height: 260px;
            }
        }
    }
    .flex-second-row{
        .our-students-about-us-feedback-container{
            &:nth-child(even){
                width: 260px;
                height: 260px;
                min-width: 260px;
                min-height: 260px;
            }
            &:nth-child(odd){
                width: 500px;
                height: 260px;
                min-width: 500px;
                min-height: 260px;
            }
        }
    }
    
    .bcg-style{
        background-image: url(/img/graphic_designer+.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
/*------------------------------feedback-our-students------------------------------*/
.feedback-our-stydents{
    padding: 80px 0 88px;
    .flex-row{
        display: flex;
        grid-gap: 30px;
        margin-top: 30px;
        overflow-x: scroll;
        // scrollbar-width: none;
        // -ms-scrollbar-style: none;
        // &::-webkit-scrollbar{
        //     display: none;
        // }
        .feedback-container{
            background-color: $light-blue-bcg;
            border-radius: 23px;
            -webkit-border-radius: 23px;
            -moz-border-radius: 23px;
            -ms-border-radius: 23px;
            -o-border-radius: 23px;
            width: 480px;
            min-width: 480px;
            display: flex;
            overflow: hidden;
            .describe-box{
                display: flex;
                flex-direction: column;
                padding: 30px;
                width: calc(100% - 193px);
                h2{
                    font-size: 22px;
                    font-weight: 400;
                    margin: 0;
                }
                p{
                    font-size: 16px;
                    font-weight: 500;
                    margin: 8px 0 30px;
                }
                a{
                    font-weight: 500;
                    text-decoration: none;
                    color: $main-black;
                }
            }
            .image-box{
                width: 193px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .container{
        .show-more-btn{
            background-color: #fff;
        }
    }
}
/*----------------------------------------------------------------need-help-form----*/
.need-help-form{
    width: 100%;
    background-color: $main-blue;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    color: $white;
    padding: 72px 0;
    .container{
        display: flex;
        justify-content: space-between;
        div{
            width: 33%;
        }
        .need-help-form-title-container{
            h2{
                font-size: 30px;
                font-weight: 400;
                margin: 0;
            }
            p{
                font-weight: 500;
                margin:20px 0 0;
            }
            .put-question-in-tg-container{
                margin-top: 64px;
                display: flex;
                width: 100%;
                background-color: $dark-blue;
                border-radius: 14px;
                -webkit-border-radius: 14px;
                -moz-border-radius: 14px;
                -ms-border-radius: 14px;
                -o-border-radius: 14px;
                align-items: center;
                padding: 12px 14px;
                justify-content: space-between;
                p{
                    margin: 0;
                    a{
                        text-decoration: underline;
                        color: $white;
                    }
                }
                .put-question-box{
                    width: 25%;
                    display: flex;
                    position: relative;
                    svg{
                        position: absolute;
                        left: 45px;
                    }
                }
            }
        }
        .need-help-form-img-container{
            position: relative;
            img{
                position: absolute;
                bottom: -72px;
                left: 20%;
            }
        }
        .need-help-form-form-container{
            padding-top:24px;
            .form-container-title{
                font-size: 22px;
            }
            .input-container{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                grid-gap: 20px 0;
                width: 100%;
                input{
                    padding: 18px 20px;
                    border-radius: 14px;
                    -webkit-border-radius: 14px;
                    -moz-border-radius: 14px;
                    -ms-border-radius: 14px;
                    -o-border-radius: 14px;
                    border: 1px solid $light-blue-bcg;
                    &::placeholder{
                        font-weight: 500;
                    }
                    &:focus-visible{
                        border: 1px solid $light-blue-bcg;
                        outline: none;
                    }
                }
            }
        }
    }
}
/*------------------------------Creo-team-section-------*/
.creo-team-section{
    padding: 100px 0;
    .container{
        h1{
            font-size: 40px;
            font-weight: 400;
        }
        .creo-team-box{
            display: flex;
            grid-gap: 30px;
            flex-wrap: wrap;
            justify-content: space-around;
            .creo-team-item{
                width: 270px;
                height: 295px;
                border: 1px solid $light-blue;
                border-radius: 14px;
                -webkit-border-radius: 14px;
                -moz-border-radius: 14px;
                -ms-border-radius: 14px;
                -o-border-radius: 14px;
                background-color: $light-blue-bcg;
                display: flex;
                flex-direction: column;
                align-content: stretch;
                overflow: hidden;
                .img-box{
                    width: 100%;
                    position: relative;
                    background-color: $light-blue;
                    height: 245px;
                    img{
                        width: 100%;
                    }
                    span{
                        position: absolute;
                        font-size: 12px;
                        font-weight: 500;
                        left: 14px;
                        bottom: 14px;
                        display: block;
                        background-color: $light-orange;
                        padding: 8px 12px;
                        border-radius: 23px;
                        -webkit-border-radius: 23px;
                        -moz-border-radius: 23px;
                        -ms-border-radius: 23px;
                        -o-border-radius: 23px;
                    }
                }
                .creo-team-teammate{
                    padding: 12px 14px;
                    h2{
                        margin: 0;
                        font-weight: 500;
                        font-size: 20px;
                    }
                }
                
            }
        }
    }
}
.main-page-footer{
    padding: 80px 0;
    background-color: $main-blue;
    display: flex;
    justify-content: space-between;
    border-radius: 120px 120px 0 0;
    -webkit-border-radius: 120px 120px 0 0;
    -moz-border-radius: 120px 120px 0 0;
    -ms-border-radius: 120px 120px 0 0;
    -o-border-radius: 120px 120px 0 0;
    .container{
        .footer-upper-container{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            border-bottom: 1px solid $white;
            .footer-upper-item{
                display: flex;
                .logo-container{
                    align-self: center;
                }
                span{
                    color: $white;
                    display: block;
                    align-items: center;
                    text-align: center;
                    align-self: center;
                    font-weight: 500;
                    &:last-child{
                        margin-left: 33px;
                    }
                }
                .footer-logo-item-icon{
                    margin-left: 10px;
                }
            }
        }
        .footer-lower-container{
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            .footer-lower-item{
                color: $white;
                font-weight: 500;
                display: flex;
                gap: 33px;
                &:last-child{
                    display: none;
                }
                span{
                    display: block;
                    a{
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
        }
    }
}


@media (max-width:1640px) {
    header{
        .container{
            .header-image-container{
                .xd-box{
                    top: 70%;
                    left: -5%;
                }
                .ps-box{
                    top: 85%;
                    left: -10%;
                }
                .figma-box{
                    top: 65%;
                    right: -10%;
                }
                .ld-box{
                    right: -8%;
                    bottom: -5%;
                    z-index: 0;
                }
            }
        }
    }
}
@media (max-width:1410px) {
    header{
        .container{
            .header-image-container{
                .ai-box{
                    top: 40%;
                    left: 6%;
                }
                .xd-box{
                    top: 70%;
                    left: 5%;
                }
                .ps-box{
                    top: 85%;
                    left: 0;
                }
                .ae-box{
                    top: 7%;
                    right: 8%;
                    z-index: 11;
                }
                .be-box{
                    top: 75%;
                    right: 6%;
                }
                .figma-box{
                    top: 65%;
                    right: 0;
                }
                .ld-box{
                    right: 2%;
                    bottom: -5%;
                    z-index: 0;
                }
            }
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .mobile-display-none{
        display: none !important;
    }
    .container{
        padding: 0 20px;
    }
    header{
        .container{
            .header-image-container{
                .sell-reit-img{
                    top: 5px;
                    left: 0;
                    width: 140px;
                }
                .play-icon-box{
                    top: calc(60% - 114.5px);
                }
            } 
            .header-image-container{
                padding: 60px 62px 0;
                .ai-box{
                    top: 40%;
                    left: 1%;
                    svg{
                        width: 27px;
                        height: 27px;
                    }
                }
                .xd-box{
                    top: 70%;
                    left: 0;
                    svg{
                        width: 22px;
                        height: 22px;
                    }
                }
                .ps-box{
                    bottom: -3.5%;
                    left: 5%;
                    top: auto;
                    svg{
                        width: 30px;
                        height: 30px;
                    }
                }
                .ae-box{
                    top: 11%;
                    right: 6%;
                    z-index: 11;
                    svg{
                        width: 33px;
                        height: 33px;
                    }
                }
                .be-box{
                    top: 75%;
                    right: 2%;
                    svg{
                        width: 33px;
                        height: 33px;
                    }
                }
                .figma-box{
                    top: 65%;
                    right: 0;
                    svg{
                        width: 16px;
                        height: 16px;
                    }
                }
                .ld-box{
                    right: 5%;
                    bottom: 5%;
                    z-index: 0;
                    svg{
                        width: 27px;
                        height: 27px;
                    }
                }
            }
        }
    }
    .about-us{
        .container{
            .about-us-flex-container{
                .flex-item{
                    height: 250px;
                    img{
                        height: 100%;
                        width: auto;
                    }
                }
            }
            .about-us-grid-container{
                .grid-item{
                    &:last-child{
                        padding-top: 75px;
                    }
                    h2{
                        font-size: 36px;
                    }
                    .about-us-author{
                        div{
                            &:last-child{
                                width: 61px;
                                margin-left: auto;
                            }
                        }
                    }
                    .about-us-grid-item-container{
                        .logo-container{
                        }
                        span{
                            font-size: 55px;
                        }
                        P{
                            font-size: 16px;
                        }
                        .rate-container{
                            svg{
                                height: 42px;
                                width: 40px;
                            }
                        }
                    }
                }
                
            }
        }
    }
    .our-programs-section{
        .container{
            .our-programs-header{
                flex-direction: column;
                .our-programs-title{
                    h1{
                        margin-bottom: 20px;
                    }
                }
                .our-programs-filter-group{
                    .filter-group-btn{
                        &:first-child{
                            margin-left: 0;
                        }
                    }
                }
            }
            .our-programs-content{
                .our-programs-cards-container{
                    justify-content: center;
                    gap: 20px;
                    flex-wrap: wrap;
                    .our-programs-card-item{
                        width: 354px;
                        .card-img{
                            img{
                            }
                        }
                    }
                }
            }
        }
    }
    .methodology-section{
        .container{
            .methodology-header{
                h2{
                }
                p{
                }
            }
            .methodology-content-grid-box{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(7, auto);
                .grid-item-2{
                    grid-column-start: span 1;
                    grid-column-end: span 1;
                    grid-row-start: span 2;
                    grid-row-end: span 2;
                    flex-direction: column;
                    .grid-item-content{
                        max-width: 100%;
                    }
                    .grid-item-img{
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                        img{
                            max-width: 100%;
                        }
                    }
                }
                .grid-item-7{
                    grid-column-start: span 2;
                    grid-column-end: span 2;
                    grid-row-start: span 1;
                    grid-row-end: span 1;
                    grid-row: 7;
                    .button-style{
                        background-color: $red;
                        border-color: $red;
                        height: 90px;
                    }
                }
            }
        }
    }
    .need-help-form{
        .container{
            flex-wrap: wrap;
            div{
                width: 25%;
                &:first-child{
                    width: 75%;
                }
                &:last-child{
                    width: 100%;
                }
            }
            .need-help-form-title-container{
                h2{
                    br{
                        display: none;
                    }
                }
                .put-question-in-tg-container{
                    width: 75%;
                }
            }
            .need-help-form-img-container{
                img{
                    left: 0;
                    width: 100%;
                    bottom: -50px;
                }
            }
            .need-help-form-form-container{
                margin-top: 50px;
            }
        }
    }
    .creo-team-section{
        .container{
            .creo-team-box{
                .creo-team-item{
                    width: 216px;
                    height: 240px;
                    .img-box{
                        display: flex;
                        align-items: flex-end;
                    }
                }
            }
        }
    }
    .main-page-footer{
        border-radius: 40px 40px 0 0;
        -webkit-border-radius: 40px 40px 0 0;
        -moz-border-radius: 40px 40px 0 0;
        -ms-border-radius: 40px 40px 0 0;
        -o-border-radius: 40px 40px 0 0;
        .container{
            .footer-upper-container{
                .footer-upper-item{
                    &:nth-child(2){
                        display: none;
                    }
                }
            }
            .footer-lower-container{
                flex-wrap: wrap;
                .footer-lower-item{
                    &:first-child{
                        display: none;
                    }
                    &:last-child{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 30px;
                        .footer-lower-item-content{
                            display: flex;
                            span{
                                &:first-child{
                                    margin-right: 30px;
                                }
                            }
                        }
                    }
                    &:nth-child(2){
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .container{
        padding: 0 10px;
        overflow: hidden;
    }
    .mobile-display-none{
        display: none !important;
    }
    nav{
        .container{
            .navigation-container{
                display: none;
            }
        }
    }
    header{
        .container{
            .header-btn-container{
                flex-direction: column;
                gap: 10px;
                a{
                    width: 80%;
                    margin: 0 auto;
                    &:first-child{
                        margin: 0 auto;
                    }
                    
                }
            }
            .header-image-container{
                padding: 50px 25px 0;
                .sell-reit-img{
                    top: 0;
                    left: -30px;
                    width: 140px;
                }
                .play-icon-box{
                    top: calc(60% - 65px);
                    left: calc(45% - 65px);
                    .play-icon-mobile{
                        display: block;

                    }
                    a{
                        &:first-child{
                            display: none;
                        }
                    }
                }
            } 
            .header-image-container{
                .ai-box{
                    top: 40%;
                    left: 5%;
                    z-index: 100;
                    svg{
                        width: 14px;
                        height: 14px;
                    }
                }
                .xd-box{
                    top: 70%;
                    left: 3%;
                    svg{
                        width: 12px;
                        height: 12px;
                    }
                }
                .ps-box{
                    bottom: -3.5%;
                    left: 6%;
                    top: auto;
                    z-index: 100;
                    svg{
                        width: 16px;
                        height: 16px;
                    }
                }
                .ae-box{
                    top: 20%;
                    right: 8%;
                    z-index: 11;
                    svg{
                        width: 17px;
                        height: 17px;
                    }
                }
                .be-box{
                    top: 60%;
                    right: 5%;
                    z-index: 100;
                    svg{
                        width: 17px;
                        height: 17px;
                    }
                }
                .figma-box{
                    top: 45%;
                    right: 0;
                    svg{
                        width: 9px;
                        height: 9px;
                    }
                }
                .ld-box{
                    right: 5%;
                    bottom: 5%;
                    z-index: 0;
                    svg{
                        width: 27px;
                        height: 27px;
                    }
                }
            }
        }
    }
    .about-us{
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        .container{
            .about-us-flex-container{
                overflow-x: scroll;
                margin-bottom: 30px;
                .flex-item{
                    height: 250px;
                    width: 290px;
                    min-width: 290px;
                    img{
                        height: 100%;
                        width: auto;
                        }
                }
            }
            .about-us-grid-container{
                display: flex;
                flex-direction: column;
                .grid-item{
                    &:first-child{
                        display: none;
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:last-child{
                        padding-top: 0;
                    }
                    h2{
                        font-size: 36px;
                    }
                    .about-us-author{
                        div{
                            &:last-child{
                                width: 61px;
                                margin-left: auto;
                            }
                        }
                    }
                    .about-us-grid-item-container{
                        width: 100%;
                        padding: 25px 15px;
                        .logo-container{
                        }
                        .about-us-content-outbox{
                            display: flex;
                            gap: 30px;
                        }
                        span{
                            font-size: 55px;
                        }
                        P{
                            font-size: 16px;
                        }
                        .rate-container{
                            svg{
                                height: 42px;
                                width: 40px;
                                margin-left: 10px;
                            }
                        }
                    }
                }
                .about-us-mobile-content{
                    h2{
                        font-weight: 400;
                        font-size: 33px;
                    }
                    p{
                        font-size: 16px;
                    }
                    .about-us-author{
                        display: flex;
                        gap: 20px;
                        h2{
                            font-size: 20px;
                            margin: 30px 0 2px;
                        }
                        span{
                            font-size: 16px;
                            color: $light-orange;
                        }
                        img{
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
    .our-programs-section{
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        .container{
            .our-programs-header{
                flex-direction: column;
                .our-programs-title{
                    h1{
                        margin-bottom: 20px;
                    }
                }
                .our-programs-filter-group{
                    overflow-x: scroll;
                    .filter-group-btn{
                        white-space: nowrap;
                        &:first-child{
                            margin-left: 0;
                        }
                    }
                }
            }
            .our-programs-content{
                .our-programs-cards-container{
                    justify-content: center;
                    gap: 20px;
                    flex-wrap: wrap;
                    .our-programs-card-item{
                        width: 354px;
                        .card-img{
                            img{
                            }
                        }
                    }
                }
            }
        }
    }
    .methodology-section{
        .container{
            .methodology-content-grid-box{
                grid-template-columns: auto;
                grid-template-rows: repeat(7, auto);
                .grid-item-1{
                    grid-column-start: span 1;
                    grid-column-end: span 1;
                    grid-row-start: span 1;
                    grid-row-end: span 1;
                }
                .grid-item-2{
                    grid-column-start: span 1;
                    grid-column-end: span 1;
                    grid-row-start: span 1;
                    grid-row-end: span 1;
                    flex-direction: column;
                    .grid-item-content{
                        max-width: 100%;
                    }
                    .grid-item-img{
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                        img{
                            max-width: 80%;
                            left: 10%;
                        }
                    }
                }
                .grid-item-3{
                    grid-column-start: span 1;
                    grid-column-end: span 1;
                    grid-row-start: span 1;
                    grid-row-end: span 1;
                    flex-direction: column;
                    .grid-item-content{
                        max-width: 100%;
                    }
                    .grid-item-img{
                        width: 100%;
                        display: flex;
                        img{
                            right: 0;
                        }
                    }
                }
                .grid-item-4{
                    grid-column-start: span 1;
                    grid-column-end: span 1;
                    grid-row-start: span 1;
                    grid-row-end: span 1;
                }
                .grid-item-5{
                    grid-column-start: span 1;
                    grid-column-end: span 1;
                    grid-row-start: span 1;
                    grid-row-end: span 1;
                }
                .grid-item-6{
                    grid-column-start: span 1;
                    grid-column-end: span 1;
                    grid-row-start: span 1;
                    grid-row-end: span 1;
                }
                .grid-item-7{
                    grid-column-start: span 1;
                    grid-column-end: span 1;
                    grid-row-start: span 1;
                    grid-row-end: span 1;
                    grid-row: 7;
                    .button-style{
                        background-color: $red;
                        border-color: $red;
                        height: 90px;
                    }
                }
                .grid-item-8{
                    grid-column-start: span 1;
                    grid-column-end: span 1;
                    grid-row-start: span 1;
                    grid-row-end: span 1;
                }
            }
        }
    }
    .need-help-form{
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        .container{
            flex-wrap: wrap;
            div{
                width: 100%;
                &:first-child{
                    width: 100%;
                }
                &:last-child{
                    width: 100%;
                }
            }
            .need-help-form-title-container{
                h2{
                    br{
                        display: none;
                    }
                }
                .put-question-in-tg-container{
                    width: 50%;
                    flex-direction: column;
                    .put-question-box{
                        margin-top: 10px;
                        width: 100%;
                    }
                }
            }
            .need-help-form-img-container{
                img{
                    width: 25%;
                    right: 10%;
                    left: auto;
                    bottom: 0;
                }
            }
            .need-help-form-form-container{
                margin-top: 50px;
            }
        }
    }
    .creo-team-section{
        .container{
            .creo-team-box{
                .creo-team-item{
                    width: 216px;
                    height: 240px;
                    display: none;
                    &:nth-child(-n+4){
                        display: block;
                    }
                    .img-box{
                        display: flex;
                        align-items: flex-end;
                    }
                }
            }
        }
    }
    .main-page-footer{
        border-radius: 40px 40px 0 0;
        -webkit-border-radius: 40px 40px 0 0;
        -moz-border-radius: 40px 40px 0 0;
        -ms-border-radius: 40px 40px 0 0;
        -o-border-radius: 40px 40px 0 0;
        .container{
            .footer-upper-container{
                .footer-upper-item{
                    &:nth-child(2){
                        display: none;
                    }
                    .footer-logo-item-icon{
                        a{
                            svg{
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
            }
            .footer-lower-container{
                flex-wrap: wrap;
                .footer-lower-item{
                    &:first-child{
                        display: none;
                    }
                    &:last-child{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 30px;
                        .footer-lower-item-content{
                            display: flex;
                            span{
                                &:first-child{
                                    margin-right: 30px;
                                }
                            }
                        }
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:last-child{
                        flex-direction: column-reverse;
                        
                    }
                }
            }
        }
    }
    }